@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-whiteP: #f1ede8;
  --color-blackP: #150c0f;
  --color-light-gray: #EBEBEB;
  --color-grayP:  rgba(0, 0, 0, 0.2) ;
  --color-light-gray-trans: #42424225;
  --color-orangeP: #ED965B;
  --color-blueP: #82BAE6;
 
}
/* ----------------------global style ---------------- */
/* coloring and background  */


.gradient-background{
   background:  linear-gradient(90deg, var(--color-orangeP) 11.26%, var(--color-pinkP) 35.44%, var(--color-blueP) 61.07%);
  fill:linear-gradient(90deg, var(--color-orangeP) 11.26%, var(--color-pinkP) 35.44%, var(--color-blueP) 61.07%);
   
}

.gradientPath svg path {
  fill : url(#gradient);
}

.blackPath svg path{
  fill : var(--color-blackP);
}

.whitePath svg path{
  fill : var(--color-whiteP);
}



/* custom cursor */
#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-blueP);
  mix-blend-mode:difference;
  z-index: 9999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}


.btn-u{
  position: relative;
}


  /* underline for text buttons */
    .btn-u::after{
    position: absolute;
    content: "";
    display: block;
    top: 100%;
    left: 0;
    transform: translate(0, -50%);
    width: 0%;
    height: 1px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--color-blackP);
  }
  
  .btn-u:hover::after {
    width: 100%;
  }


  .arrow-index {
    width: 10px;
    height: 10px;
    stroke-linecap: round;
    stroke-width: 3;
    margin-left: 10px;
    margin-top: 2px;
   
}

#arrow-index{
  animation: scrollIndex 0.5s ease-in-out alternate infinite;
}

#arrow-project{
  
  animation: scrollProjects 0.5s ease-in-out alternate infinite;

}

@keyframes scrollIndex {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(2px);
  }
}

@keyframes scrollProjects {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}




  
  


  


